img {
    margin: auto;
    display: flex;
    align-items: center;
}

#items-form {
  display: flex;
  align: center;
  height: 500px;
  flex-flow: auto;
  justify-content: space-around;
flex-direction: column;
}

#location {
  /* display: flex; */
  /* flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; */
  text-align: center;
  position: relative;
  left: 50%;
  width: 350px;
  height: 30px;
  margin-left: -175px;
  font-size: 15px;
}

/* .slide-bar{
  position: absolute;
  top:50%;
  left:50%;
  margin-left: -65px;
  margin-top: -20px;
  width: 130px;
  height: 40px;
  text-align: center;
} */




#mapid {
    width: 400px;
    height: 400px;
    border-radius: 200px;
    position: relative;
    z-index: 500
  }
  /* height: 70vw ; } */

body{
  background-color: DarkBlue;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}
}

/* img {
  width: 10vw;
} */

h1{

  font-size: 55px;
  float: center;
/* font-family: 'Futura'; */
color: #191970;
text-shadow: 0 0 5px #191970, 0 0 10px #191970, 0 0 20px #ccc, 0 0 30px #ccc, 0 0 40px #ccc, 0 0 55px #ccc, 0 0 75px #ccc;
text-align: center;
}


#save{
  width: 10vw;
  height: 10vw;
  background: url('https://www.freepngimg.com/thumb/submit_button/25387-5-submit-button-clipart-thumb.png') no-repeat ;
  align: center;
  vertical-align: middle;
  border-style: none;

  background-size: 10vw;

}

.button {
  left: 50%;

  /* position: absolute;
  top:50%;
  left:50%;
  margin-left: -65px;
  margin-top: -20px; */
  width: 130px;
  height: 40px;
  text-align: center;
  position: relative;
  left: 50%;
  margin-left: -65px;
}



#save:hover{


}
