body {
  background-color: #d8d8d8;
  overflow-x:visible;
  overflow-y:visible;
  background-image: url('../images/rain_weather.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-width: 500px) {
  body {
    background-color: #d8d8d8;
    background-size: cover;
    overflow-x:visible;
    overflow-y:visible;
    background-image: url('../images/rain_weather_cropped.jpeg');
    background-position: relative;
}
}

@media only screen and (max-width: 870px) {
  body {
    background-color: #d8d8d8;
    height: 100%;
    width: 100%;
    overflow-x:visible;
    overflow-y:visible;
    background-image: url('../images/rain_weather_cropped.jpeg');
    background-position: relative;
}
}

h1{

  font-size: 7vw;
  position: relative;
  left: 25vw;
font-family: 'Raleway', sans-serif;
color: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrap {
  margin: 0 auto;
  position: relative;
  left: 0vw;
  width: 68.359375vw;
  height: 14.749vh;
}

.slider-container {
  width: 68.359375vw;
  height: 14.749vh;
  position: relative;
  left: 0vw;
  overflow-x: visible;
  overflow-y: visible;
  align: center;
}

#range {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: -6.8359375vw;
  width: 120%;
  top: -2.94985vh;
  height: 120%;
  opacity: 0;
}

#range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 9.765625vw;
  height: 22.398vh;
  background: #ccc;
  cursor: pointer;
}

#range::-moz-range-thumb {
  width: 9.765625vw;
  height: 22.398vh;
  background: #ccc;
  cursor: pointer;
}

#value {
  font-family: 'Raleway', sans-serif;
  color: #24b599;
  font-size: 3vw;
  font-weight: bold;
  position: relative;
  left: 0vw;
}

svg#slider{
  display: block;
  overflow: visible;
}

path#curve{
  display: block;
  overflow: auto;
  overflow-x: visible;
  overflow-y: visible;
}

div#value{
  text-align: center;
}

@keyframes bounce {
 0%, 20%, 60%, 100% {
   -webkit-transform: translateY(0);
   transform: translateY(0);
 }
 40% {
   -webkit-transform: translateY(-3px);
   transform: translateY(-3px);
 }
 80% {
   -webkit-transform: translateY(-1.5px);
   transform: translateY(-1.5px);
 }
}

#location {
  text-align: center;
  position: relative;
  left: 49vw;
  width: 45vw;
  height: 5vh;
  margin-left: -22.5vw;
  font-size: 2vw;
  font-family: 'Raleway', sans-serif;
}

#ring {
   stroke: #24b599;
   /* color: ; */
   animation: bounce 2s infinite, shine 2s infinite, sparkle 1s infinite, rotate 2s infinite;
}

@media only screen and (max-width: 500px) {
  #ring {
     stroke: #24b599;
     rx: 3%;
     ry: 10%;
     /* color: ; */
     animation: bounce 2s infinite, shine 2s infinite, sparkle 1s infinite, rotate 2s infinite;
  }
}

@media only screen and (max-width: 850px) {
  #ring {
     stroke: #24b599;
     rx: 3%;
     ry: 17%;
     /* color: ; */
     animation: bounce 2s infinite, shine 2s infinite, sparkle 1s infinite, rotate 2s infinite;
  }
}

@media only screen and (max-width: 400px) {
  #ring {
     stroke: #24b599;
     rx: 3%;
     ry: 8%;
     /* color: ; */
     animation: bounce 2s infinite, shine 2s infinite, sparkle 1s infinite, rotate 2s infinite;
  }
}
