body {
  background-color: #8e8f91;
  overflow-x:visible;
  overflow-y:visible;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrap {
  margin: 0 auto;
  width: 68.359375vw;
  height: 14.749vh;
}

.slider-container {
  width: 68.359375vw;
  height: 14.749vh;
  overflow-x: visible;
  overflow-y: visible;
  align: center;
}

#range {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: -6.8359375vw;
  width: 120%;
  top: -2.94985vh;
  height: 120%;
  opacity: 0;
  /* color: pink;
  background-color: gold; */
}
#range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 9.765625vw;
  height: 35.398vh;
  background: #ccc;
  cursor: pointer;
}
#range::-moz-range-thumb {
  width: 9.765625vw;
  height: 35.398vh;
  background: #ccc;
  cursor: pointer;
}

#value {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 3vw;
}

svg#slider{
  display: block;
  overflow: visible;
}

path#curve{
  display: block;
  overflow: auto;
  overflow-x: visible;
  overflow-y: visible;
}

div#value{
  text-align: center;
}


@keyframes bounce {
 0%, 20%, 60%, 100% {
   -webkit-transform: translateY(0);
   transform: translateY(0);
 }
 40% {
   -webkit-transform: translateY(-3px);
   transform: translateY(-3px);
 }
 80% {
   -webkit-transform: translateY(-1.5px);
   transform: translateY(-1.5px);
 }
}
/* @keyframes shine{
 10% {
   opacity: 0.8;
   top: -30%;
   left: -30%;
   transition-property: left, top, opacity;
   transition-duration: 0.7s, 0.7s, 1s;
   transition-timing-function: ease;
 }
 100% {
   opacity: 0.6;
   top: -30%;
   left: -30%;
   transition-property: left, top, opacity;
 }
} */

/* @-webkit-keyframes sparkle
{
  0%   { stroke: #ffd710; }
  30%  { stroke: #ffd720; }
  40%  { stroke: #ffd680; }
  60%  { stroke: #ffd740; }
  100% { stroke: #ffd780; }
} */

/* @keyframes rotate {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
} */

#ring {
   stroke: #4aceb5;
   /* color: #24b599; */
   animation: bounce 2s infinite, shine 2s infinite, sparkle 1s infinite, rotate 2s infinite;
}
